[Unit]
Description=MetasploitRPC service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/msfrpcd -f -U {{ username }} -P {{ password }} -p {{ port }} -n -a 0.0.0.0

[Install]
WantedBy=multi-user.target
